html, body{
  margin:0;
  height: 100%
  }

.flex-container {
  display: flex;
}

.flex-child-left {
    flex: 1;
    border: 2px solid yellow;
}  
.flex-child-right {
  flex: 2;
  border: 2px solid yellow;
}  
.flex-child:first-child {
    margin-right: 5px;
} 
.magenta{
  background-color: magenta;
}

.green{
  background-color: green;
}